@model List<string>
@{
    ViewBag.Title = "Chat";
}

<hgroup>

    <h2>@ViewBag.Title.</h2>

    <h3>@ViewBag.Message</h3>

</hgroup>

@foreach (var item in Model)
{
    <p>@item</p>
}

<p>Playing as:<span id="nick"></span></p>
<div class="container">

    <input type="text" id="TxtMessage" />

    <input type="button" id="BtnSend" value="Send" />
    <input type="button" id="BtnRefresh" value="Refresh" onclick="@Url.Action("Refresh","Home")" />

    <input type="hidden" id="UserName" />

    <ul id="Chats"></ul>

</div>
<div class="container">

    @*<input type="text" id="TxtMessage" />

    <input type="button" id="BtnSend" value="Send" />

    <input type="hidden" id="UserName" />

    <ul id="Chats"></ul>*@

</div>



@section scripts {



    <script src="~/Scripts/jquery.signalR-2.4.1.js"></script>

    <script src="~/signalr/Hubs"></script>



    <script>

        $(function ()
        {
            var chat = $.connection.chatHub;

            // attach event handlers to methods coming from c# hub
            chat.client.NewMessage = function (Cl_Name, Cl_Message)
            {
                $('#Chats').append('<li><strong>' + htmlEncode(Cl_Name)
                    + '</strong>: ' + htmlEncode(Cl_Message) + '</li>');
            };
            $.connection.hub.start().done(function ()
            {
                //attach  event handlers to call c# hub methods from page
                $('#BtnSend').click(function ()
                {
                    debugger;
                    chat.server.letsChat($('#UserName').val(), $('#TxtMessage').val());

                    $('#TxtMessage').val('').focus();
                });
            });

            var nick = prompt('Please Enter Your Name:', '');
            $('#nick').val(nick);
        });

        function htmlEncode(value)
        {
            var encodedValue = $('<div />').text(value).html();

            return encodedValue;
        }

    </script>

}
